body {
    font-size:1.3vw;
    font-family: "M PLUS Rounded 1c";
    background: rgb(250, 255, 249);
}

/* header */
.logo {
    position: fixed;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    background:rgba(255, 255, 255, 0.7);
}

.side {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    box-sizing: border-box;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 10px
}

/* マウスストーカー */
.star {
    position: fixed;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: url(./img/fabicon1.png) 50% 50% no-repeat;
    background-size: contain;
    z-index: 2;
    animation: star 2.5s ease-out 0s forwards;
  }
  
  @keyframes star {
    0% {
      transform: translateY(0) rotate(-5deg);
      opacity: 0;
    }
  
    5% {
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(50px) rotate(5deg);
      opacity: 0;
    }
  }

  .change {
    cursor: url(./img/b-iconmonstr-telegram-1-240.cur),auto;
  }

  .change a {
    cursor: url(./img/g-iconmonstr-telegram-1-240.cur),auto;
  }

  /* タイトル */
  .title01{
    font-size: 3.0vw;
 } 

 .title02{
    font-size: 2.5vw;
 } 

 .title03{
    font-size: 2.0vw;
    color: #fff;
    background: rgb(102, 204, 124);
    border-radius: 30px;
 } 

 /* 注意書き */
 .ex-text{
    font-size:1.0vw;
 }


